services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - app_data:/usr/src/app/
    ports:
      - "8000:8000"
    env_file:
      - ./env.dev
    depends_on:
      - db
    networks:
      - backend

  db:
    image: postgres:13.0-alpine
    ports:
      - 5433:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=raven
      - POSTGRES_PASSWORD=raven
      - POSTGRES_DB=raven_db
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  postgres_data:
  app_data: